/* stylelint-disable max-line-length */
@font-face {
  font-family: superior-title;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/superior-title-bold.woff2') format('woff2');
}

@font-face {
  font-family: superior-title;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/superior-title-bold-italic.woff2') format('woff2');
}

@font-face {
  font-family: apercu;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/apercu-regular.woff2') format('woff2');
}

@font-face {
  font-family: apercu;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/apercu-italic.woff2') format('woff2');
}

@font-face {
  font-family: apercu;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/apercu-medium.woff2') format('woff2');
}

@font-face {
  font-family: apercu;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/apercu-medium-italic.woff2') format('woff2');
}

@font-face {
  font-family: apercu;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/apercu-bold.woff2') format('woff2');
}

@font-face {
  font-family: apercu;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/apercu-bold-italic.woff2') format('woff2');
}
